<!DOCTYPE html>
<html lang="kr">
<head>
    <!--    head-->
    <%- include('../partials/head/head-full') %>
</head>
    <body>

    <!--    header-->
    <%- include('../partials/header/header') %>

    <!--    body-->
    <main>
        <%- body %>
    </main>

    <!--    footer-->
    <%- include('../partials/footer/footer') %>

    <!--    javascript-->
    <%- include('../partials/scripts/scripts') %>
</body>
</html>